* {
    box-sizing: border-box;
}

[class*=*"col-"] {
    float: left;
    padding: 5px;
}


/*TXT overall*/

a {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: gray;
    font-size: 2.5vh;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 3vh;
    margin: 1vh;
    font-weight: 100;
}

p {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 2vh;
    margin: 1vh;
    color: gray;
    font-weight: 300;
}

h1 {
    font-family: 'Inika', Helvetica, Arial, sans-serif;
    font-size: 5vh;
}


/*navRWD*/

.toggle {
    display: none;
}

.navRWD {
    display: none;
}

.nav {
    display: inline-block;
    position: fixed;
    background: rgba(300, 300, 300, 0.9);
    color: #111418;
    float: top;
    width: 100%;
    border-bottom: 0.7px solid #DDDDDD;
    z-index: 1;
}


/*nav*/

.nav img {
    float: left;
    margin-left: 20vh;
    max-width: 100%;
    height: auto;
}

.nav ul {
    list-style-type: none;
    margin: 2vh;
    margin-right: 4%;
    float: right;
}

.nav ul li {
    display: inline-block;
    margin: 2.5vh;
}

.nav a:hover {
    color: black;
}

.box {
    display: inline-block;
    margin: 1%;
}


/*content*/

.graphic,
.UI {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: 15vh;
}

.card {
    display: inline-block;
}

.graphic img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    background-color: none;
    height: auto;
    margin: 1%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    text-align: left;
    padding: 0px;
    z-index: -1;
}

.UI img {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.box .words {
    display: none;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    text-align: left;
    position: absolute;
    margin: 4%;
}

.box:hover .words {
    transition: all 0.6s ease-in-out;
    display: block;
    visibility: visible;
    opacity: 1;
}

.box img:hover {
    opacity: 0.3;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0);
}

.box img {
    opacity: 1;
    overflow: visible;
    box-sizing: border-box;
    transition: all 0.6s ease-in-out;
}

.box {
    animation: boxx 5s;
    -webkit-animation: boxx 5s;
}

@keyframes boxx {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes boxx {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    margin: 3%;
    text-align: center;
    clear: both;
    position: relative;
}

footer p {
    text-align: center;
}

footer img {
    background-color: gray;
}

footer img:hover {
    background-color: black;
}

.popup {
    text-align: center;
}

.popup .pop>h3,
p {
    text-align: left;
}

.contact {
    text-align: center;
}

.contact img {
    float: left;
    text-align: center;
    margin-top: 8%;
    width: 60%;
}

.resume {
    float: left;
    margin: 4%;
    margin-top: 6%;
    text-align: left;
}

.resume h1 {
    padding: 0px;
}

.resume h3 {
    font-family: 'Inika', Helvetica, Arial, sans-serif;
    font-size: 4vh;
    line-height: 1vh;
}

.resume h4 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 2.5vh;
    line-height: 1vh;
    letter-spacing: 0.5px;
}

.resume p {
    font-size: 2.3vh;
    line-height: 4vh;
    margin: 0px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}


/*pop-up*/

.pop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 5;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.pop:target {
    visibility: visible;
    opacity: 2;
    pointer-events: auto;
}

.pop>div {
    width: 60%;
    position: relative;
    overflow: auto;
    margin: 3% auto;
    margin-top: 6%;
    padding: 2%;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.pop img {
    max-width: 100%;
    height: auto;
}

.pop .words {
    float: right;
}

.pop h3 {
    font-size: 5vh;
    padding-left: 5%;
}

.pop p {
    font-size: 2.5vh;
    letter-spacing: 0.5px;
    line-height: 3.5vh;
    letter-spacing: 0.5px;
    padding: 4%;
}

.cancel {
    float: right;
    position: absolute;
    top: 10px;
    right: 2%;
    color: #DDD;
    font-size: 4vh;
    text-decoration: none;
    text-align: center;
}

.cancel:hover {
    color: black;
}

button {
    width: 10%;
    color: black;
    background-color: white;
    margin: 5%;
    border: 1px solid black;
}

button:hover {
    color: white;
    background-color: black;
}

input,
textarea {
    width: 95%;
    height: 5vh;
    margin: 3%;
    outline: none;
    border: 1px solid gray;
}

label {
    font-family: 'Inika', Helvetica, Arial, sans-serif;
    padding-left: 2%;
}


/*col-definition*/

.col-centered {
    margin: 0 auto;
    float: none;
}

.col-md-1 {
    width: calc(100%*1/12);
}

.col-md-2 {
    width: calc(100%*2/12);
}

.col-md-3 {
    width: calc(100%*3/12);
}

.col-md-4 {
    width: calc(100%*4/12);
}

.col-md-5 {
    width: calc(100%*5/12);
}

.col-md-6 {
    width: calc(100%*6/12);
}

.col-md-7 {
    width: calc(100%*7/12);
}

.col-md-8 {
    width: calc(100%*8/12);
}

.col-md-9 {
    width: calc(100%*9/12);
}

.col-md-10 {
    width: calc(100%*10/12);
}

.col-md-11 {
    width: calc(100%*11/12);
}

.col-md-12 {
    width: calc(100%*12/12);
}

@media screen and ( max-width:991px) {
    .nav {
        position: relative;
        display: none;
    }
    .toggle img {
        display: inline-block;
        float: left;
        margin: 4%;
    }
    .toggle {
        display: inline-block;
        float: right;
        background-color: rgba(300, 300, 300, 0.2);
        position: relative;
        z-index: 1;
        text-align: right;
        width: 100%;
    }
    .toggle>a {
        display: inline-block;
        margin: 4%;
    }
    .nav-top {
        display: none;
        position: absolute;
        background-color: rgba(300, 300, 300, 0.8);
        text-align: right;
        padding: 5%;
        margin: 0%;
    }
    .nav-top li {
        margin-top: 4%;
        position: relative;
    }
    .toggle:hover .nav-top {
        display: block;
    }
    .graphic {
        margin-top: 0%;
    }
    .box .words h2,
    p {
        font-size: 4vw;
    }
    .box .words h2 {
        width: 10vw;
    }
    .UI {
        margin-top: 0%;
    }
    .pop {
        text-align: center;
    }
    .pop>div {
        width: 80%;
    }
    .pop .words {
        margin-top: 2%;
    }
    .pop .cancel {
        margin-right: 2%;
    }
    .contact img {
        float: left;
        text-align: center;
        margin-top: 8%;
        width: 100%;
    }
    .col-sm-1 {
        width: calc(100%*1/12);
    }
    .col-sm-2 {
        width: calc(100%*2/12);
    }
    .col-sm-3 {
        width: calc(100%*3/12);
    }
    .col-sm-4 {
        width: calc(100%*4/12);
    }
    .col-sm-5 {
        width: calc(100%*5/12);
    }
    .col-sm-6 {
        width: calc(100%*6/12);
    }
    .col-sm-7 {
        width: calc(100%*7/12);
    }
    .col-sm-8 {
        width: calc(100%*8/12);
    }
    .col-sm-9 {
        width: calc(100%*9/12);
    }
    .col-sm-10 {
        width: calc(100%*10/12);
    }
    .col-sm-11 {
        width: calc(100%*11/12);
    }
    .col-sm-12 {
        width: calc(100%*12/12);
    }
}
